{
  "extends": ["@antfu/eslint-config-react", "@antfu/eslint-config-ts"],
  "overrides": [
    {
      "files": [
        "apps/backend/**/*.{controller,service,module,spec,e2e-spec}.ts"
      ],
      "rules": {
        "@typescript-eslint/consistent-type-imports": "off"
      }
    }
  ]
}
