{
  "extends": ["@antfu/eslint-config-react"],
  "overrides": [
    {
      "files": ["apps/backend/**/*.*.ts"],
      "rules": {
        "@typescript-eslint/consistent-type-imports": "off"
      }
    },
    {
      "files": ["apps/backend/**/*.ts", "**/vite.config.ts"],
      "rules": {
        "n/prefer-global/process": "off"
      }
    }
  ]
}
