:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  --uno: font-sans font-400;
}

body {
  --uno: text-black bg-gray-100;
  --uno: "dark:text-white dark:bg-gray-900";
}
