/* outline styles for buttons and VPButton anchors */
button:focus,
button:focus-visible,
.DocSearch-Button:focus,
.DocSearch-Button:focus-visible,
a:focus-visible,
a:focus {
  border-radius: 2px;
  outline: 2px solid var(--vp-c-brand-1);
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none !important;
}
