/* HarmonyOS Sans SC */
@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("./HarmonyOS_Sans_SC_Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("./HarmonyOS_Sans_SC_Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("./HarmonyOS_Sans_SC_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("./HarmonyOS_Sans_SC_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("./HarmonyOS_Sans_SC_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("./HarmonyOS_Sans_SC_Black.ttf");
  font-weight: 900;
  font-style: normal;
}

/* Exo2 */
@font-face {
  font-family: "Exo2";
  src: url("./Exo2-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("./Exo2-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
